<!DOCTYPE html>
<html>
<head>
<title>AIS Decoder</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
<script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
</head>
<body>
<h1>{{ station.mmsi }}</h1>
<div id="mapid" style="width: 800px; height: 400px;"></div>
<script>

	var mymap = L.map('mapid').setView([{{ centrelat }}, {{ centrelon }}], 12);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(mymap);
L.tileLayer('http://tiles.openseamap.org/seamark/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openseamap.org/copyright">OpenSeaMap</a> contributors'
}).addTo(mymap);
L.control.scale().addTo(mymap);

function onEachFeature(feature, layer) {
    // does this feature have a properties?
    if (feature.properties) {
        layer.bindPopup(feature.properties.Name);
    }
}

geojsonFeature = {{ geojsonfeatures|tojson|safe }};

L.geoJSON(geojsonFeature, {onEachFeature: onEachFeature}).addTo(mymap);

</script>
<table>
<tr>
<th>Name</th><td>{{ station.name }}</td>
</tr>
<tr>
<th>MMSI</th><td>{{ station.mmsi }}</td>
</tr>
<tr>
<th>Type</th><td>{{ station.type }}</td>
</tr>
<tr>
<th>Subtype</th><td>{{ station.subtype }}</td>
</tr>
<tr>
<th>Flag</th><td>{{ station.flag }}</td>
</tr>
</table>
<p  />
<a href="/{{ station.mmsi }}.kml">download kml</a>
<h1>Messages Recieved</h1>
<table>
{% for key, value in station.sentmsgs.items() %}
<tr>
<th>{{ key }}</th>
<td>{{ value }}</td>
</tr>
{% endfor %}
</table>
<p  />
<h1>Other Details</h1>
<table>
{% for key, value in station.details.items() %}
<tr>
<th>{{ key }}</th>
<td>{{ value }}</td>
</tr>
{% endfor %}
</table>
<p  />
<h1>Last Position Reported</h1>
<table>
<tr>
{% for key, value in lastpos.items() %}
<th>{{ key }}</th>
<td>{{ value }}</td>
<tr>
{% endfor %}
</table>
</body>
</html>
