<!DOCTYPE html>
<html>
<head>
	<title>Leaflet</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
</head>
<body>
<div id="mapid" style="width: 800px; height: 600px;"></div>
<script>

	var mymap = L.map('mapid').setView([{{ centrelat }}, {{ centrelon }}], 9);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(mymap);

function onEachFeature(feature, layer) {
    // does this feature have a properties?
    if (feature.properties) {
        var popupstr = '';
        for (var p in feature.properties) {
                popupstr += p + ' - ' + feature.properties[p]+ '<br  />';
        }
        layer.bindPopup(popupstr);
    }
}

geojsonFeature = {{ geojsonfeatures|tojson|safe }};

L.geoJSON(geojsonFeature, {onEachFeature: onEachFeature}).addTo(mymap);

</script>
</body>
</html>
