<!DOCTYPE html>
<html>
<head>
<title>AIS Decoder</title>
<script src="{{ url_for('static', filename='W3/w3.js') }}"></script>
</head>
<body>
<h1>Read from capture file</h1>
<a href='/'>return to home</a>
<form action="" method="post" enctype="multipart/form-data">
<input type="file" name="file">
<button type="submit" value="upload">upload</button>
</form>
<p>
<a href='/vesselstable'>AIS stations table</a>
<br  />
<a href='/msgdebug_capture_file'>debug messages</a>
<br  />
<a href="/stats">Stats</a>
<br  />
<a href="/headingmap">Leaflet Map with Headings</a>
<br  />
<a href="/positionhistory">Position History</a>
</p>
</body>
</html>

